* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-image: url(/Assets/images/jumbotron.jpeg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    color: gray;
    align-items: center;
    background-position: 80%;
}

.hero div {
    text-align: center;
    margin: 20px;
}

.hero div h1 {
    font-size: 26px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.TopNav {
    display: flex;
    justify-content: center;
    background-image: url(/Assets/images/jumbotron.jpeg);
    background-size: cover;
    background-position: 75%;
    background-attachment: fixed;
    background-position: center;
}

.TopNav nav {
    width: 35%;
}

.TopNav nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TopNav nav ul li {
    padding: 25px;
}

.SectionTitle {
    text-align: center;
    font-weight: lighter;
    font-size: 24px;

}

.SectionTitle2 {
    text-align: center;
    font-weight: lighter;
    font-size: 35px;
    border-bottom: 1px solid white;
    min-width: 25%;
    margin: 0 auto 25px auto;
    padding-bottom: 15px;
}

.space {
    border-left: 1px solid white;
    height: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/Assets/images/jumbotron.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    color: lightslategray;
}

header h1 {
    display: none;
    font-size: 30px;
    font-weight: bold;
}

header nav img {
    height: 50px;
    width: 50px;
    display: none;
    
}

#PicProfile {
    height: 250px;
    width: 250px;
    border: 10px solid white;
    /* Insert placeholder image here. Dont forget. */
    background-image:url(/Assets/images/linkedinlogo.png);
    background-position: center;  
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 75px;
}
a {
    color: #ffffff;
    text-decoration: none;
}
/* commented out from old code dont need this.
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 40px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #7fc3ee;
    color: #ffffff;
}

.articles h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.articles img {
        max-height: 200px;
} */


main {
    background-color: white;
}

.float-left {
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.boxFlex {
    background-image: url(/Assets/images/jumbotron.jpeg);
    background-size: cover;
    min-width: 20%;
    min-height: 20%;
    overflow:hidden;
    opacity: 75%;
    transition: .20s;
    transition-timing-function: ease-in-out;
    margin:7px;
    font-size:24px;
    text-decoration: none;
    box-shadow: 0 0 15px lightslategray;
    border: 7px solid white;


}

.boxFlex h3 {
    position: relative;
    left: 85px;
    top: 110%;
    transition: top .20s;
    transition-timing-function: ease-in-out;
}

.boxFlex:hover {
    opacity: 1;
    min-width: 25%;
}

.boxFlex:hover h3 {
    top: 80%;
}



#portfolio {
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    height: 750px;
    padding: 50px;
    display: flex;

}

#RunBuddy {
    min-width: 50%;
    min-height: 50%;
    background-image: url(/Assets/images/runbuddy.png);
    font-size: 40px;
    margin: 0 50%;

}

#RunBuddy:hover {
    min-width: 70%;
}

/* start of footer */

footer {
    display: flex;
    background-color: lightslategray;
    padding: 25px;
    text-align: center;
    color: black;
    justify-content: space-between;
}
/* End of footer */

/* Contact me area */
#ContactMe {
    display: flex;
    margin: 100px auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-width: 40%;
    height: 500px;
}

#ContactMe div {
    background-color: lightsteelblue;
    width: 90%;
    height: 22%;
    justify-content: space-between;
    border: 5px solid white;
    box-shadow: 0 0 10px rgb(49, 36, 36);
    display: flex;
}

.LOGO {
    margin: 6px;
    height: 85%;

}

.LINKS {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 0 auto;

}

/* contact form start */

.ContactForm {
    background-color: (rgb(54, 58, 250), );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 35px;

}

.ContactForm div h2 {
    margin: 0 auto 15px auto;

}


/* Added this in with help from classmate */
.ContactForm input, .ContactForm textarea {
    border: 1px solid white;
    background-color: (rgb(218, 218, 218), );
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
    display: block;


}

.ContactForm div {
    text-align: left;
    min-width: 25%;
}

.ContactForm form {
    display:block;
}

/* End of contact form area */

/* About Me start */

#AboutMe {
    min-width: 30%;
    max-width: 70%;
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 90px auto;
    padding: 50px;
    line-height: 35px;
    font-size: 25px;
}

/* end of about me */